<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>


ADMINISTRATOR PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
<div class="row">
  <div class="column">
    <div class="card">
      
      <form action="http://localhost:5000/gupdate/">
      <button type="Girls" class="button" action="/gupdate/" >Girls</button>
      <!-- </form> -->
    </div>
  </div>

  <div class="row">
  <div class="column">
    <div class="card">
    
      <form action="http://localhost:5000/bupdate/">
      <button type="Boys" class="button" action="/bupdate/">Boys</button>
      <!-- </form> -->
    </div>
  </div>

 <!--  <div class="row">
  <div class="column">
    <div class="card">
      
      <form action="http://localhost:5000/overall/">
      <button type="Overall" action="/overall/">Overall</button>
      </form>
    </div> -->
</div>

</body>
</html>