<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>

<!-- <input type="button" class="button" value="Girls">
<input type="button" class="button" value="Boys">
<input type="button" class="button" value="Overall">
 -->

<div class="row">
  <div class="column">
    <div class="card">
      <!-- <h3>Card 1</h3>
      <p>Some text</p>
      <p>Some text</p> -->
      <!-- <img src="C:\Users\Admin\Desktop\Ilaa\DB Project\Pictures\Committee2.jpg" class="w3-circle" alt="Committee" style="width:100%" height="250px" style="border-radius: 50px"> -->
      <!-- <p style="color: white">Check out the Committees of this year!</p> -->
      <form action="http://localhost:5000/girls/">
      <button type="Girls" class="button" action="/girls/">Girls</button>
      </form>
    </div>
  </div>

  <div class="row">
  <div class="column">
    <div class="card">
      <!-- <h3>Card 1</h3>
      <p>Some text</p>
      <p>Some text</p> -->
      <!-- <img src="C:\Users\Admin\Desktop\Ilaa\DB Project\Pictures\Committee2.jpg" class="w3-circle" alt="Committee" style="width:100%" height="250px" style="border-radius: 50px"> -->
      <!-- <p style="color: white">Check out the Committees of this year!</p> -->
      <form action="http://localhost:5000/boys/">
      <button type="Boys" class="button" action="/boys/">Boys</button>
      </form>
    </div>
  </div>

  <!-- <div class="row">
  <div class="column">
    <div class="card"> -->
      <!-- <h3>Card 1</h3>
      <p>Some text</p>
      <p>Some text</p> -->
      <!-- <img src="C:\Users\Admin\Desktop\Ilaa\DB Project\Pictures\Committee2.jpg" class="w3-circle" alt="Committee" style="width:100%" height="250px" style="border-radius: 50px"> -->
      <!-- <p style="color: white">Check out the Committees of this year!</p> -->
      <!-- <form action="http://localhost:5000/overall/">
      <button type="Overall" action="/overall/">Overall</button>
      </form>
    </div> -->
</div>

</body>
</html>