<!DOCTYPE html>
<html>
<head>

<!-- <script type="C:\Users\Deepanjali\Desktop\Deepanjali\NIE\DB Project\database\Remember\js\Table_script.js"></script> -->

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

/*tr:nth-child(even) {
  background-color: #dddddd;
}*/

tr:nth-child(odd) {
  background-color: #dddddd;
}

</style>

</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>

      <div class="container">

<!-- 
      </div>
    </header> -->
    <!-- end header -->

    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h3 style="text-align: center; font-family: sans-serif;">Championship Scoreboard</h3>
<!-- <body> -->

<!-- </head> -->

<!-- <body> -->
<!-- <div id="wrapper"> -->
<table align='center' cellspacing=2 cellpadding=5 id="data_table" border="1">

  <th>
    <th>Sport</th>
    <th>Civil</th>
    <th>Computers</th>
    <th>EEE</th>
    <th>Mechanical</th>
   
  </th>


{%for column in data%}


  <tr>
    <td>{{column['']}}</td>
    <td>{{column['Sports']}}</td>
    <td>{{column['Civil']}}</td> 
    <td>{{column['Computers']}}</td>
    <td>{{column['EEE']}}</td>
    <td>{{column['Mechanical']}}</td>
   
  </tr>

{%endfor%}


</table>
</div>
</section>
</div>
</header>
</div>
</body>
</html>