<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TechNieKS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="..\static\css\bootstrap.css" rel="stylesheet" />
  <link href="..\static\css\bootstrap-responsive.css" rel="stylesheet" />
  <link href="..\static\css\prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="..\static\css\style.css" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="..\static\css\default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />

  <style>
.button {
  background-color: #565656;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              

            </div>
          </div>
        </div>
      </div>
      <div class="container">


        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <h1><a href="home.html"><i class="icon-tint"></i> TechNIEks</a></h1>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li class="active">
                      <!-- <a href="index.html">Home</a> -->
                    </li>
                   
                    <!-- <li> 
                      <a href="Login.html">Login </a>
                    </li>
                    <li> 
                      <a href="Signup.html">Sign Up </a>
                    </li> -->

                    <!-- <form action="http://localhost:5000/home/">
                    <button type="Home" action="/home/">HOME</button>
                    </form>
 -->
                    <!-- <form action="http://localhost:5000/login/">
                    <button type="Login" class="button" action="/login/">Login</button>
                    </form>

                    <form action="http://localhost:5000/signup/">
                    <button type="Sign Up" class="button" action="/signup/">Sign Up</button>
                    </form>

                    <form action="http://localhost:5000/admin_login/">
                    <button type="Admin?" class="button" action="/admin_login/">Admin?</button>
                    </form> -->

                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h2>Welcome to the Official Page of TechNIEks!</h2>
        <h3>The Techno-Cultural Fest of NIE</h3>
          <div style="display: flex; width: 50vw; justify-content: space-around;">
            <form action="http://localhost:5000/login/">
             <button type="Login" class="button" action="/login/">Login</button>
            </form>

            <form action="http://localhost:5000/signup/">
              <button type="Sign Up" class="button" action="/signup/">Sign Up</button>
            </form>

            <form action="http://localhost:5000/admin_login/">
              <button type="Admin?" class="button" action="/admin_login/">Admin?</button>
            </form>
          </div>
        <!-- <div> -->
          <!-- <a href="#content" class="btn-get-started scrollto">Get Started</a> -->
       <!--  </div> -->
      </div>
    </section>
    
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  
  <script src="..\static\js\jquery.js"></script>
  <script src="..\static\js\jquery.easing.1.3.js"></script>
  <script src="..\static\js\bootstrap.js"></script>
  <script src="..\static\js\modernizr.custom.js"></script>
  <script src="..\static\js\toucheffects.js"></script>
  <script src="..\static\js\google-code-prettify/prettify.js"></script>
  <script src="..\static\js\jquery.prettyPhoto.js"></script>
  <script src="..\static\js\portfolio/jquery.quicksand.js"></script>
  <script src="..\static\js\portfolio/setting.js"></script>
  <script src="..\static\js\animate.js"></script>

  
  <script src="..\static\js\custom.js"></script>

</body>

</html>
