<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>

<div class="column">
    <div class="card">
      <!-- <h3>Card 3</h3>
      <p>Some text</p>
      <p>Some text</p> -->
      <!-- <img src="C:\Users\Admin\Desktop\Ilaa\DB Project\Pictures\Sport2.jpg" class="w3-circle" alt="Office Bearers" style="width:100%" height="250px" style="border-radius: 50px"> -->
      <!-- <p style="color: white"></p> -->
      <form action="http://localhost:5000/c_marketing/">
      <button class="button" type="Cores and Convenors" action="/c_marketing/">Cores and Convenors</button>
      </form>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <!-- <h3>Card 2</h3>
      <p>Some text</p>
      <p>Some text</p> -->
       <!-- <img src="C:\Users\Deepanjali\Desktop\Deepanjali\NIE\DB Project\database\images\cultural!.jpg" class="w3-circle" alt="Cultural" style="width:100%" height="250px" style="border-radius: 50px">
      <p style="color: white">Check out the Cultural Events of this year!</p> -->
      <form action="http://localhost:5000/v_marketing/">
      <button class="button" type="Volunteers" action="/v_marketing/">Volunteers</button>
      </form>
    </div>
  </div>

<!-- 
  <div class="column">
    <div class="card"> -->
      <!-- <h3>Card 2</h3>
      <p>Some text</p>
      <p>Some text</p> -->
       <!-- <img src="C:\Users\Deepanjali\Desktop\Deepanjali\NIE\DB Project\database\images\cultural!.jpg" class="w3-circle" alt="Cultural" style="width:100%" height="250px" style="border-radius: 50px">
      <p style="color: white">Check out the Cultural Events of this year!</p> -->
    <!--   <form action="http://localhost:5000/admin_login/">
      <button class="button" type="Admin" action="/admin_login/">Admin?</button>
      </form>
    </div>
  </div> -->

  <!-- <input id="clickMe" type="button" value="clickme" onclick="doFunction();" /> -->

</body>
</html>