<!DOCTYPE html>
<html>
<head>

<!-- <script type="C:\Users\Deepanjali\Desktop\Deepanjali\NIE\DB Project\database\Remember\js\Table_script.js"></script> -->

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

/*tr:nth-child(even) {
  background-color: #dddddd;
}*/

tr:nth-child(odd) {
  background-color: #dddddd;
}

</style>

</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>

      <div class="container">


    <!--   </div>
    </header> -->
    <!-- end header -->

    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h3 style="text-align: center; font-family: sans-serif;">Committee Info</h3>
<!-- <body> -->

<!-- </head> -->

<!-- <body> -->
<!-- <div id="wrapper"> -->
<table align='center' cellspacing=2 cellpadding=5 id="data_table" border="1">
  <th>
    <!-- <th>Name</th> -->
    <th>Name</th>
    <th>USN</th> 
    <th>Position</th>
    <th>Number</th>
  </th>

<!-- <tr>
<td><input type="text" id="new_name"></td>
<td><input type="text" id="new_talent"></td>
<td><input type="text" id="new_categ"></td>
<td><input type="text" id="new_day"></td>
<td><input type="text" id="new_slot"></td>
</tr> -->
{%for column in data%}
 <!--  <tr>
    <th>{{column['name']}}</th>
    <th>{{column['usn']}}</th> 
    <th>{{column['position']}}</th>
    <th>{{column['telephone']}}</th>
  </tr> -->

  <tr>
    <td>{{column['']}}</td>
    <td>{{column['name']}}</td>
    <td>{{column['usn']}}</td> 
    <td>{{column['position']}}</td>
    <td>{{column['tele']}}</td>
  </tr>
{%endfor%}
<!-- <tr>
  <td><input type="button" class="add" value="Add Participant"></td>
  <td><input type="button" class="add" value="Edit"></td>
  <td><input type="button" class="add" value="Delete Participant"></td>
</tr> -->

</table>
</div>
</section>
</div>
</header>
</div>
</body>
</html>

