<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>

<div class="column">
    <div class="card">

      <form action="http://localhost:5000/girls/">
      <button class="button" type="View" action="/girls/">View</button>
      </form>
    </div>
  </div>

  <div class="column">
    <div class="card">
 
      <form action="http://localhost:5000/update/">
      <button class="button" type="Update" action="/update/">Update</button>
      </form>
    </div>
  </div>


</body>
</html>