<!DOCTYPE html>

<html>
<head>
<script type="text/javascript" src="C:\Users\Deepanjali\Desktop\Deepanjali\NIE\DB Project\database\Remember\js\Table_script.js"></script>
</head>
<body>
<div id="wrapper">
<table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>

  <th>
    <th>Branch</th>
    <th>ADAMS</th>
    <th>Table Tennis</th>
    <th>BasketBall</th>
    <th>Kho-Kho</th>
    <th>SoftBall</th>
    <th>Badminton</th>
    <th>Ball Badminton</th>
    <th>Volleyball</th>
    <th>Throwball</th>
    <th>Cricket</th>
    <th>TOTAL</th>
  </th>

  <tr>
    <td>{{column['branch']}}</td>
    <td>{{column['adams']}}</td> 
    <td>{{column['tabletennis']}}</td>
    <td>{{column['basketball']}}</td>
    <td>{{column['khokho']}}</td>
    <td>{{column['softball']}}</td>
    <td>{{column['badminton']}}</td>
    <td>{{column['ballbadminton']}}</td>
    <td>{{column['volleyball']}}</td>
    <td>{{column['throwball']}}</td>
    <td>{{column['cricket']}}</td>
    <td>{{column['total']}}</td>
  </tr>

</table>

</body>
</html>

